/* General */
:root {
  --pink: #ee99c2;
  --bg: #0a0a0a;
  --blue: #0c359e;
  --shadow: 0 2px 2px (0 0 0 / 0.5);
}

body {
  font-size: 1.2 rem;
  font-family: "Work Sans", sans-serif;
  min-height: 3000px;
}

/* Hero */
.hero {
  min-height: 100vh;
  position: relative;
}

.hero h4 .hero h1 .hero p {
  text-shadow: var(--shadow);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/alvin-mahmudov-qJnsHa8DWyY-unsplash.jpg);
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: grayscale();
}

.hero h2 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
}
.hero h3:nth-child(2) {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.hero p {
  font-size: 1.5rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  font-family: "Sacramento", cursive;
  font-size: 1.5rem;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
  font-family: "Sacramento", cursive;
}

/* Icons */
.material-icons {
  font-size: 55px; /* Adjust the size as needed */
}

/* Navbar */
.navbar .container .navbar-brand i {
  font-size: 15px;
}

.mynavbar {
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 2.1rem;
}

.mynavbar .nav-link {
  font-weight: 600;
}

/* Home */
.home {
  background-image: url(img/images.png);
  min-height: 50vh;
  margin-top: -4.8rem;
  padding-top: 15rem;
  padding-bottom: 8rem;
}

.home h2 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: var(--pink);
}
.home h3 {
  color: #444;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

/* Info */
.info {
  background-color: var(--pink);
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.info h2 {
  font-family: "sacramento";
  font-size: 4rem;
  color: black;
}

.info p,
.info a {
  color: black;
  font-style: italic;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.card-footer {
  font-style: italic;
  font-size: 0.9rem;
}

/* Story */
.story {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.story .col-10 span {
  font-family: "sacramento";
  font-size: 3.5rem;
  color: var(--pink);
}
.story h2 {
  font-size: 1.2rem;
  color: #444;
  letter-spacing: 1px;
}

/* Timeline */
.timeline {
  list-style: none;
  position: relative;
  padding: 1.4 rem 0;
  margin-top: 1rem;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ee99c2;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  border-radius: 50%;
  background-size: cover;
}

.timeline li .timeline-panel {
  width: 39%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 5%;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  right: -10px;
  transform: rotate(45deg);
  top: 80px;
  z-index: -1;
  border: 1px solid #0a0a0a;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  left: -11px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  right: -13px;
  left: auto;
}
/* Footer */
footer {
  background-color: var(--pink);
  color: #fff;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

/* Media Query */

/* Extra Large */

@media (max-width: 1200px) {
}
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .material-icons {
    font-size: 45px; /* Adjust the size as needed */
  }

  .navbar .container .navbar-brand i {
    font-size: 10px;
  }

  .timeline::before{
    left: 60px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .material-icons {
    font-size: 30px; /* Adjust the size as needed */
  }

  .navbar .container .navbar-brand i {
    font-size: 8px;
  }

  .mynavbar .nav-link {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
}

/* Mobile */

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }
  .material-icons {
    font-size: 20px; /* Adjust the size as needed */
  }

  .navbar .container .navbar-brand i {
    font-size: 4px;
  }
  .mynavbar .nav-link {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
}
